body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#scoreboard-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: blue;
  padding: 10px;
}

#scoreboard-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: red;
  padding: 10px;
}
#scoreboard-one > p,
#scoreboard-two > p {
  font-size: 2.5em;
}
.board {
  width: 1000px;
  height: 500px;
  background-color: #825959;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 3%;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-one,
.side-two {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
/* these are the pockets */
.side-one > div,
.side-two > div {
  width: 15%;
  height: 100%;
  background-color: #a07676;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* these are the pieces inside the pockets */
.piece {
  height: 15px;
  width: 15px;
  margin: 10px;
  border-radius: 100%;
  background-color: gray;
}

.mancala-one,
.mancala-two {
  margin: 0 2.5%;
  width: 10%;
  height: 65%;
  border: 1px solid black;
  background-color: #a07676;
  border-radius: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
  .board {
    transform: rotate(90deg);
    min-width: 800px;
  }
}
